{
  'title': 'Website Title',
  'website_name': 'Website Name',
  'header': './header.phtml',
  'footer': './footer.phtml',
  'copywrite': './copywrite.phtml',
  'css': {
    'blue1': '#272de5',
    'blue2': '#1712b3',
    'slight_blue': '#ccccee'
    'scooter_light': '#36d1dc',
    'scooter_dark': '#5b86e5',
    'Alive_light': '#cb356b',
    'Alive_Dark': '#bd3f32',
    'sunkist_light': '#f2c94c',
    'sunkist_dark': '#f2994a',
    'love_and_liberty_light': '#6f0000',
    'love_and_liberty_dark': '#200122',
    'very_blue_light': '#0575e6',
    'very_blue_dark': '#021b79',
    'royal_light': '#243b55',
    'royal_dark': '#243b55',
    'inbox_light': '#5691c8',
    'inbox_dark': '#457fca',
    'netflix_light': '#8e0e00',
    'netflix_dark': '#1f1c18',
    'clear_sky_light': '#005c97',
    'clear_sky_dark': '#363795',
    'facebook_messenger_left': '#00c6ff',
    'facebook_messenger_right': '#0072ff',
    'youtube_light': '#e52d27',
    'youtube_dark': '#b31217'
  }
}
